html, body {
    width:100%;
    height: 100%
}
#landing {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(30, 175, 237, 0.6),
    rgba(26, 165, 26, .4)),
    url('img/landing.jpg') no-repeat center;
    background-size: cover;
}

h1 {
    text-align: center;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
#cook, #party, #game {
    display: block;
}

.hidden {
    display: none;
}

.row-spacing {
    margin-bottom: 150px;
}

#outdoor {
    padding-bottom: 100px
}

#left-arrow {
    position: absolute;
    top:100px;
    background: green;
}

#right-arrow {
    position: absolute;
    left: 750px;
    top:100px;
    background: red;
}