html,
body {
    width: 100%;
    height: 100%
}


#landing,
#indoor,
#outdoor {
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}



.hidden {
    display: none;
}

.row-spacing {
    margin-bottom: 80px;
}

.container {
    padding: 10px 100px;
}

#right-arrow {
    background-color: Blue;
}

#left-arrow,
#right-arrow {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 50px;
    top: 30px;
    color: white;
}

#left-arrow {
    left: 50px;
    background: green;
}

#left-arrow .glyphicon {
    position: absolute;
    top: 17px;
}

#right-arrow span {
    position: absolute;
    left:23px;
    top: 16px;
}

#right-arrow .glyphicon {
    left: 35px;
    top: 17px;
}

@media only screen and (max-width: 768px) {
    #cook, #party, #game, #chore, #hikebut, #amusebut, 
    
    #vollebut {
        width:80px;
        height:80px;
        border-radius: 40px;
    }
}

@media only screen and (min-width: 768px) {
    #cook, #party, #game, #chore, #hikebut, #amusebut, 
    
    #vollebut {
        width:120px;
        height:120px;
        border-radius: 60px;
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
    h1 {
        font-size: 40px;
    }
}


/*medium & up*/

@media only screen and (min-width: 992px) {
    #cook, #party, #game, #chore, #hikebut, #amusebut, 
    
    #vollebut {
        height: 160px;
        width: 160px;
        border-radius: 80px;
        font-size: 30px;
    }
    p {
        font-size: 17px;
    }
    h1 {
        font-size: 50px;
    }
}


/*large & up*/

@media only screen and (min-width: 1200px) {
    #cook, #party, #game, #chore {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        font-size: 40px;
    }
    p {
        font-size: 22px;
    }
    h1 {
        font-size: 60px;
    }
}